.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-blank {
	font-size:(23/10)*1rem;
	width:(17/23)*1em;
}
.icon-check {
	font-size:(19/10)*1rem;
	width:(19/19)*1em;
}
.icon-chevron-down {
	font-size:(10/10)*1rem;
	width:(10/10)*1em;
}
.icon-phone {
	font-size:(25/10)*1rem;
	width:(26/25)*1em;
}
.icon-plus {
	font-size:(21/10)*1rem;
	width:(21/21)*1em;
}
.icon-star {
	font-size:(12/10)*1rem;
	width:(12/12)*1em;
}
