mixin sAboutLawyer()
	// start sAboutLawyer
	+b.SECTION.sAboutLawyer#sAboutLawyer&attributes(attributes)
		.container
			+b.section-title
				h2 О юристе
			.row
				+e.descr-txt-col.col-12.col-lg-8
					+e.descr-txt
						p Более 50&nbsp;уголовных дел, а&nbsp;гражданских и&nbsp;административных: более 200. Сумма выигранных и&nbsp;сбереженных средств: более 2&nbsp;700&nbsp;000&nbsp;₽. Выигранных дел об&nbsp;административных правонарушениях: 68&nbsp;%.
						p Квалифицированная юридическая помощь при ДТП (в&nbsp;том числе по&nbsp;уголовным делам), лишении права управления, судебных спорах о&nbsp;возмещении ущерба (в&nbsp;том числе споры со&nbsp;страховыми компаниями).
						p Я&nbsp;считаю, что адвокатская деятельность не&nbsp;является предпринимательской, поэтому не&nbsp;ставлю цель заработать деньги на&nbsp;ваших проблемах. Если ваше дело является необычным и&nbsp;представляет интерес, как прецедент, то&nbsp;я&nbsp;готов работать за&nbsp;символическую оплату и&nbsp;компенсацию понесенных расходов.
				+e.descr-pills-col.col-12.col-lg-4
					+e.descr-pills
						+e.pill-cont
							+e.icon-cont
								+icon('check')
							+e.txt-cont Статус адвоката

						+e.pill-cont
							+e.icon-cont
								+icon('check')
							+e.txt-cont Юридический стаж с&nbsp;2000г.

						+e.pill-cont
							+e.icon-cont
								+icon('check')
							+e.txt-cont Специализация на&nbsp;автоделах с&nbsp;2008 года

						+e.pill-cont
							+e.icon-cont
								+icon('check')
							+e.txt-cont Лучший юрист Прикамья 2009 года

						+e.pill-cont
							+e.icon-cont
								+icon('check')
							+e.txt-cont Партнер компании «Автоюрист.ру»

						+e.pill-cont
							+e.icon-cont
								+icon('check')
							+e.txt-cont Эксперт проекта «Ваше право» на радио «Спутник-ФМ»
		// end sAboutLawyer